In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [116]:
data=pd.read_csv('/content/Bias_correction_ucl (2).csv')

In [117]:
print(data)

      station        Date  Present_Tmax  Present_Tmin  LDAPS_RHmin  \
0         1.0  2013-06-30          28.7          21.4    58.255688
1         2.0  2013-06-30          31.9          21.6    52.263397
2         3.0  2013-06-30          31.6          23.3    48.690479
3         4.0  2013-06-30          32.0          23.4    58.239788
4         5.0  2013-06-30          31.4          21.9    56.174095
...       ...         ...           ...           ...          ...
7747     23.0  2017-08-30          23.3          17.1    26.741310
7748     24.0  2017-08-30          23.3          17.7    24.040634
7749     25.0  2017-08-30          23.2          17.4    22.933014
7750      NaN         NaN          20.0          11.3    19.794666
7751      NaN         NaN          37.6          29.9    98.524734

      LDAPS_RHmax  LDAPS_Tmax_lapse  LDAPS_Tmin_lapse   LDAPS_WS    LDAPS_LH  \
0       91.116364         28.074101         23.006936   6.818887   69.451805
1       90.604721         29.850689         24.035009   5.691890   51.937448
2       83.973587         30.091292         24.565633   6.138224   20.573050
3       96.483688         29.704629         23.326177   5.650050   65.727144
4       90.155128         29.113934         23.486480   5.735004  107.965535
...           ...               ...               ...        ...         ...
7747    78.869858         26.352081         18.775678   6.148918   72.058294
7748    77.294975         27.010193         18.733519   6.542819   47.241457
7749    77.243744         27.939516         18.522965   7.289264    9.090034
7750    58.936283         17.624954         14.272646   2.882580  -13.603212
7751   100.000153         38.542255         29.619342  21.857621  213.414006

      ...  LDAPS_PPT2  LDAPS_PPT3  LDAPS_PPT4      lat      lon       DEM  \
0     ...    0.000000    0.000000    0.000000  37.6046  126.991  212.3350
1     ...    0.000000    0.000000    0.000000  37.6046  127.032   44.7624
2     ...    0.000000    0.000000    0.000000  37.5776  127.058   33.3068
3     ...    0.000000    0.000000    0.000000  37.6450  127.022   45.7160
4     ...    0.000000    0.000000    0.000000  37.5507  127.135   35.0380
...   ...         ...         ...         ...      ...      ...       ...
7747  ...    0.000000    0.000000    0.000000  37.5372  126.891   15.5876
7748  ...    0.000000    0.000000    0.000000  37.5237  126.909   17.2956
7749  ...    0.000000    0.000000    0.000000  37.5237  126.970   19.5844
7750  ...    0.000000    0.000000    0.000000  37.4562  126.826   12.3700
7751  ...   21.621661   15.841235   16.655469  37.6450  127.135  212.3350

         Slope  Solar radiation  Next_Tmax  Next_Tmin
0     2.785000      5992.895996       29.1       21.2
1     0.514100      5869.312500       30.5       22.5
2     0.266100      5863.555664       31.1       23.9
3     2.534800      5856.964844       31.7       24.3
4     0.505500      5859.552246       31.2       22.5
...        ...              ...        ...        ...
7747  0.155400      4443.313965       28.3       18.1
7748  0.222300      4438.373535       28.6       18.8
7749  0.271300      4451.345215       27.8       17.4
7750  0.098475      4329.520508       17.4       11.3
7751  5.178230      5992.895996       38.9       29.8

[7752 rows x 25 columns]

In [118]:
data.shape

(7752, 25)

In [119]:
data.head()

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,2013-06-30,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,2013-06-30,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,2013-06-30,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,2013-06-30,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,2013-06-30,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

In [120]:
#check missing values in the data
data.isnull().sum()

station              2
Date                 2
Present_Tmax        70
Present_Tmin        70
LDAPS_RHmin         75
LDAPS_RHmax         75
LDAPS_Tmax_lapse    75
LDAPS_Tmin_lapse    75
LDAPS_WS            75
LDAPS_LH            75
LDAPS_CC1           75
LDAPS_CC2           75
LDAPS_CC3           75
LDAPS_CC4           75
LDAPS_PPT1          75
LDAPS_PPT2          75
LDAPS_PPT3          75
LDAPS_PPT4          75
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [121]:
#seperate independent and dependent variables
y=data['Slope']
X=data.drop(['Slope'],axis=1)

In [122]:
#importing train test split to create vadidation set 
from sklearn.model_selection import train_test_split

In [123]:
#creating the train and validation set
X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state = 101, test_size=0.30)

In [124]:
#distribution in training set
y_train.value_counts(normalize=True)

4.729600    0.044231
0.155400    0.041836
0.697000    0.041467
0.222300    0.041283
0.098500    0.041283
2.686500    0.040730
1.562900    0.040730
0.593100    0.040730
2.534800    0.040361
5.178200    0.040177
0.623300    0.039993
0.133200    0.039808
0.266100    0.039808
0.271300    0.039808
0.572100    0.039808
1.231300    0.039808
0.618000    0.039440
2.257900    0.039440
0.514100    0.039440
0.505500    0.039255
2.785000    0.039071
1.767800    0.038518
0.855200    0.037781
0.145700    0.037412
0.412500    0.037412
0.098475    0.000184
5.178230    0.000184
Name: Slope, dtype: float64

In [125]:
#distribution in training set
y_train.value_counts(normalize=True)

4.729600    0.044231
0.155400    0.041836
0.697000    0.041467
0.222300    0.041283
0.098500    0.041283
2.686500    0.040730
1.562900    0.040730
0.593100    0.040730
2.534800    0.040361
5.178200    0.040177
0.623300    0.039993
0.133200    0.039808
0.266100    0.039808
0.271300    0.039808
0.572100    0.039808
1.231300    0.039808
0.618000    0.039440
2.257900    0.039440
0.514100    0.039440
0.505500    0.039255
2.785000    0.039071
1.767800    0.038518
0.855200    0.037781
0.145700    0.037412
0.412500    0.037412
0.098475    0.000184
5.178230    0.000184
Name: Slope, dtype: float64

In [126]:
#shape of training set
X_train.shape, y_train.shape

((5426, 24), (5426,))

In [127]:
#shape of validation set
X_valid.shape, y_valid.shape

((2326, 24), (2326,))

In [128]:
#importimg decision tree classifier
from sklearn.tree import DecisionTreeClassifier

In [129]:
#importimg decision tree regressor
from sklearn.tree import DecisionTreeRegressor

In [130]:
#creating the decision tree function
dt_model = DecisionTreeClassifier(random_state=10)

In [132]:
#fitting the model
dt_model.fit(X_train , y_train)

ValueError: ignored